<h4>Domoticz Settings</h4>
<table class="table table-condensed" data-bind='visible: settings.settings.plugins.domoticz.arrSmartplugs().length > 0'>
	<thead>
		<tr>
			<td>{{ _('Plug') }}</td>
			<td style="text-align:center">{{ _('Options') }}</td>
			<td style="text-align:center"><a href="#" class="btn btn-mini icon-plus" data-bind="click: addPlug"></a></td>
		</tr>
	</thead>
	<tbody data-bind='foreach: settings.settings.plugins.domoticz.arrSmartplugs'>
		<tr data-bind="attr: {title: ip}">
			<td>
				<span data-bind="text: label" />
			</td>
			<td style="text-align:center">
				<i class="icon" data-bind="css: {'icon-check': displayWarning(),'icon-check-empty': !displayWarning()}" title="Warning Prompt" />
				<i class="icon" data-bind="css: {'icon-check': warnPrinting(),'icon-check-empty': !warnPrinting()}" title="Warn While Printing" />
				<i class="icon" data-bind="css: {'icon-check': autoConnect(),'icon-check-empty': !autoConnect()}" title="Auto Connect" />
				<i class="icon" data-bind="css: {'icon-check': autoDisconnect(),'icon-check-empty': !autoDisconnect()}" title="Auto Disconnect" />
				<i class="icon" data-bind="css: {'icon-check': ignoreSSL(),'icon-check-empty': !ignoreSSL()}" title="SSL Check Disabled" />				
				<i class="icon" data-bind="css: {'icon-check': gcodeEnabled(),'icon-check-empty': !gcodeEnabled()}" title="GCODE Trigger" />
				<i class="icon" data-bind="css: {'icon-check': sysCmdOn(),'icon-check-empty': !sysCmdOn()}" title="Run System Command On" />
				<i class="icon" data-bind="css: {'icon-check': sysCmdOff(),'icon-check-empty': !sysCmdOff()}" title="Run System Command Off" />
			</td>
			<td style="text-align:center">
				<div class="btn-group">
					<a href="#" class="btn btn-mini icon-pencil" data-bind="click: $root.editPlug"></a>
					<a href="#" class="btn btn-mini icon-trash" data-bind="click: $root.removePlug, visible: $root.settings.settings.plugins.domoticz.arrSmartplugs().length > 1"></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div class="control-group">
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.settings.plugins.domoticz.debug_logging"> Enable debug logging.
		</label>
	</div>
</div>

<div id="DomoticzEditor" data-bind="with: selectedPlug" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Domoticz Editor</h3>
	</div>
	<div class="modal-body">
		<table class="table table-condensed">
			<tr>
				<td><div class="controls"><label class="control-label">{{ _('HTTP(S)://IP:PORT') }}</label><input type="text" class="input-block-level" data-bind="value: ip" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Index') }}</label><input type="text" class="input-block-level" data-bind="value: idx" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Label') }}</label><input type="text" class="input input-small" data-bind="value: label" /></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="control-label"><a href="https://fontawesome.com/icons?d=gallery&p=2&m=free" target="_blank">{{ _('Icon Class') }}</a></label><input type="text" class="input-block-level" data-bind="value: icon" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Username') }}</label><input type="text" class="input-block-level" data-bind="value: username" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Password') }}</label><input type="password" class="input input-small" data-bind="value: password" /></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: displayWarning"/> Warning Prompt</label></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: warnPrinting"/> Warn While Printing</label></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Passcode') }}</label><input type="password" class="input input-small" data-bind="value: passcode" /></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: autoConnect"/> Auto Connect</label><input type="text" data-bind="value: autoConnectDelay,visible: autoConnect" class="input input-small" /></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: autoDisconnect"/> Auto Disconnect</label><input type="text" data-bind="value: autoDisconnectDelay,visible: autoDisconnect" class="input input-small" /></div></td>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: ignoreSSL"/> Self-Signed SSL</label></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: gcodeEnabled"/> GCODE Trigger</label></div></td>
			</tr>
			<tr data-bind="visible: gcodeEnabled">
				<td colspan="2">
					<span class="control-text" title="Use this gcode command to power on relay." data-bind="text: $root.gcodeOnString($data),visible: gcodeEnabled"></span>
					<a href="javascript:void(0)" title="Copy GCode to Clipboard" class="control-text" data-bind="click: function() { copyToClipboard($root.gcodeOnString($data)); }"><i class="fas fa-copy"></i></a>
			</tr>
            <tr data-bind="visible: gcodeEnabled">
				<td colspan="2">
                    <span class="label" title="Use this gcode command to power off relay." data-bind="text: $root.gcodeOffString($data),visible: gcodeEnabled"></span>
					<a href="javascript:void(0)" title="Copy GCode to Clipboard" class="control-text" data-bind="click: function() { copyToClipboard($root.gcodeOnString($data)); }"><i class="fas fa-copy"></i></a>
                </td>
            </tr>
			<tr data-bind="visible: gcodeEnabled">
				<td><div class="controls"><label class="control-label">{{ _('GCODE On Delay') }}</label><input type="text" data-bind="value: gcodeOnDelay" class="input input-small" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('GCODE Off Delay') }}</label><input type="text" data-bind="value: gcodeOffDelay" class="input input-small" /></div></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom"><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: sysCmdOn"/> Run System Command After On</label><input type="text" data-bind="value: sysRunCmdOn,visible: sysCmdOn" class="input-block-level" /></div></td>
				<td style="vertical-align: bottom"><div class="controls" data-bind="visible: sysRunCmdOn"><label class="control-label">{{ _('Delay') }}</label><input type="text" data-bind="value: sysCmdOnDelay"  class="input input-small" /></div></td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom"><div class="controls"><label class="checkbox"><input type="checkbox" data-bind="checked: sysCmdOff"/> Run System Command Before Off</label><input type="text" data-bind="value: sysRunCmdOff,visible: sysCmdOff" class="input-block-level" /></div></td>
				<td style="vertical-align: bottom"><div class="controls" data-bind="visible: sysRunCmdOff"><label class="control-label">{{ _('Delay') }}</label><input type="text" data-bind="value: sysCmdOffDelay"  class="input input-small" /></div></td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>